/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/* Header */
header {
    background-color: aqua; 
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: black;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 20px;
    margin: 0 10px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: coral;
}

.navbar .active a {
    border-bottom: 2px solid red;
}

/* Music Section */
.music {
    margin-top: 100px; /* Adjust as needed */
    text-align: center;
}

.music img {
    width: 100%;
}

.music .info {
    position: relative;
    top: -50px; /* Adjust as needed */
}

h1 {
    color: aqua;
    font-size: 36px;
}

.explore {
    color: bisque;
    font-size: 18px;
}

/* Additional Styles */
/* Add your additional styles here */
